@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

p {
    font-weight: 400;
    line-height: 1.4;
}

strong {
    font-weight: 600;
}

a {
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
    color: #f4469a;
}

a:hover {
    color: #ff5ba8;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.2;
}

#landing-container {
    background: #000000 url("../images/background/landing.jpg") center center / cover;
    display: table;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

#landing-container:before {
    content: "";
    width: 100%;
    height: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    position: absolute;
}

#login-container,
#login-container a {
    color: #ffffff;
    line-height: 1em;
    box-sizing: border-box;
}

#login-container a:hover {
    color: #f4469a !important;
}

#login-container input {
    color: #dcdcdc;
}

#login-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    max-width: 1024px;
    min-height: 100vh;
}

#form-container {
    width: 400px;
    padding: 45px;
    float: left;
    border-right: 1px solid rgba(255, 255, 255, .1);
    box-sizing: border-box;
    min-height: 100vh;
}

#login-form, #register-form {
    margin-bottom: 20px;
}

#form-container h2 {
    text-align: center;
    margin-bottom: 30px;
}

#form-container input,
#form-container textarea {
    display: block;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ffffff;
    height: 36px;
    line-height: 27px;
    width: 100%;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
}

#form-container input:focus,
#form-container textarea:focus {
    border-bottom: 1px solid #f4469a;
}

#form-container button {
    background: transparent;
    border-radius: 30px;
    border: 1px solid #ffffff;
    color: #ffffff;
    display: block;
    padding: 10px 20px;
    margin: 30px auto 15px;
    width: 100%;
    -webkit-transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
}

#form-container button:hover {
    color: #f4469a;
    border-color: #f4469a;
}

#form-container button:hover {
    cursor: pointer;
}

label {
    font-weight: 600;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(225, 225, 225, 0.7);
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba(225, 225, 225, 0.7);
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(225, 225, 225, 0.7);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(225, 225, 225, 0.7);
}

::placeholder {
    color: rgba(225, 225, 225, 0.7);
}

#inputContainer {
    width: 400px;
    padding: 45px;
    float: left;
    border-right: 1px solid #999;
}

.link-register, .link-login {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input,
.input-group select {
    font-size: 14px;
}

.input-group .input-text-error {
    font-size: 12px;
    color: brown;
    margin-top: 8px;
}

.alert {
    padding: 10px 14px;
    background: #dddddd;
    font-size: 14px;
    border-radius: 2px;
    margin-bottom: 20px;
    color: #333333;
}

.alert p {
    margin-bottom: 0;
}

.alert.alert-warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
}

.alert.alert-success {
    background-color: #c3e6cb;
    color: #155724;
}

.alert.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

#login-text {
    padding: 45px;
    display: table-cell;
}

#login-text h1 {
    color: #f4469a;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 60px;
}

#login-text h2 {
    margin-bottom: 10px;
}

#login-text p {
    opacity: 0.7;
}

#login-text .login-caption > ul {
    margin-top: 30px;
}

#login-text .login-caption > ul li {
    font-size: 18px;
    line-height: 2;
    list-style-type: none;
}

#login-text .login-caption > ul li img {
    margin-bottom: 5px;
    margin-right: 10px;
}

.copyright {
    margin-top: 80px;
    font-size: 14px;
}

.copyright p {
    margin-bottom: 10px;
}

.copyright ul li {
    display: inline-block;
    font-size: 12px;
}

.copyright ul li + li {
    margin-left: 10px;
}

.center {
    text-align: center;
}

.button {
    padding: 7px 15px;
    border-radius: 30px;
    border: 2px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    background-color: transparent;
    min-width: 120px;
    font-weight: 600;
    letter-spacing: 1px;
}

.button.primary {
    border: 2px solid #f4469a;
    background-color: #f4469a;
}