.player {
    color: #ffffff;
    background-color: #1c1c1c;
    font-size: 14px;
    min-height: 100vh;
}

.playing-bar {
    width: 100%;
    background-color: #282828;
    bottom: 0;
    position: fixed;
    min-width: 540px;
}

.now-playing-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
}

.now-playing-bar .volume-wrapper {
    min-width: 180px;
}

.now-playing-bar .album-wrapper {
    display: flex;
    flex-direction: row;
    min-width: 250px;
}

.now-playing-bar .control-wrapper {
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-control {
    width: 100%;
}

.player-control .buttons {
    margin: 0 auto;
    display: table;
}

.control-button {
    background-color: transparent;
    border: none;
    vertical-align: middle;
    margin: 0 7px;
}

.control-button img {
    width: 25px;
    height: 25px;
}

.control-button.play img,
.control-button.pause img {
    width: 35px;
    height: 35px;
}

.control-button:hover {
    cursor: pointer;
}

.playback-bar {
    margin-top: 10px;
    display: flex;
}

.progress-time {
    color: #a0a0a0;
    font-size: 12px;
    min-width: 40px;
    text-align: center;
}

.progress-bar {
    width: 100%;
    padding: 10px 0;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.progress-bar-base {
    background: #404040;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.progress-bar-base .progress {
    background: #a0a0a0;
    height: 4px;
    width: 0;
    border-radius: 2px;
}

.album-link .album-artwork {
    height: 100%;
    max-width: 60px;
    margin-right: 15px;
    background-size: cover;
}

.now-playing-bar .track-info .track-name {
    margin-top: 6px;
    display: block;
}

.now-playing-bar .track-info .artist-name {
    font-size: 14px;
    color: #a0a0a0;
}

.volume-bar {
    width: 180px;
    display: flex;
    align-items: center;
}

.volume-bar .progress-bar {
    width: 125px;
}

.main-container {
    height: 100%;
    width: 100%;
}

.playlist-container {
    margin-left: 220px;
    width: calc(100% - 220px);
    height: calc(100vh - 93px);
    overflow-y: auto;
}

.navigation-container {
    background: #151515;
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.navigation-bar {
    padding: 25px;
    overflow-y: auto;
    height: calc(100vh - 93px);
}

.navigation-bar a {
    color: #c9c9c9;
}

.navigation-bar a:hover,
.navigation-bar .nav-item-link.search-link:hover {
    color: #f4469a;
}

.navigation-bar .logo {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
    display: block;
}

.navigation-bar .logo img {
    width: 40px;
    margin-right: 5px;
}

.navigation-bar .menu-group {
    margin-bottom: 15px;
}

.navigation-bar .nav-title {
    font-size: 12px;
    letter-spacing: 2px;
    color: #f4469a;
    padding: 5px 8px;
    margin-bottom: 5px;
}

.navigation-bar .nav-item-link.search-link {
    color: #808080;
    display: block;
}

.navigation-bar .nav-item-link.search-link img {
    width: 18px;
    float: right;
    margin-top: 2px;
}

.navigation-bar .nav-item {
    padding: 5px 8px;
    font-size: 14px;
}

.main-content {
    padding: 20px;
}

.page-title {
    margin-bottom: 25px;
    text-align: center;
}

.grid-view-item {
    display: inline-block;
    margin-right: 20px;
    width: 29%;
    max-width: 200px;
    min-width: 150px;
    margin-bottom: 25px;
}

.grid-view-item img {
    max-width: 100%;
    margin-bottom: 10px;
}

.grid-view-info p {
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.grid-view-info .info-title {
    font-weight: 600;
}

.grid-view-info .info-subtitle {
    margin-bottom: 0;
    font-size: 12px;
    color: #a0a0a0;
}

.album-container {
    display: flex;
    flex-direction: row;
}

.album-container .artwork-wrapper {
    margin-right: 20px;
}

.album-container .artwork-wrapper img {
    margin-bottom: 15px;
    max-width: 250px;
}

.album-container .artwork-wrapper p {
    margin-bottom: 5px;
}

.album-container .artwork-wrapper .total-track {
    color: #c9c9c9;
}

.album-container .track-list {
    color: #a0a0a0;
    flex-grow: 1;
}

.track-list .track-list-item {
    margin-bottom: 5px;
    padding: 5px 10px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    list-style: none;
}

.track-list .track-list-item.playing,
.track-list .track-list-item:hover {
    background-color: #282828;
}

.track-list .control {
    visibility: hidden;
}

.track-list .track-list-item.playing .control,
.track-list .track-list-item:hover .control {
    visibility: visible;
}

.track-list .icon-play {
    margin-right: 15px;
}

.track-list .icon-play img {
    width: 25px;
    margin-right: 5px;
}

.track-list .track-info {
    flex-grow: 1;
}

.track-list .track-info p {
    margin-bottom: 0;
}

.track-list .icon-play,
.track-list .track-info .track-name {
    color: #ffffff;
}

.track-list .track-option {
    min-width: 50px;
    cursor: pointer;
}

.track-list .track-option img {
    width: 20px;
}

.track-list .track-played {
    margin-left: 20px;
}